@import './trafficLightMachine.css';
.App {
	text-align: center;
}

.containerZnP {
	margin: auto;
	width: 90%;
	border: 3px solid #73ad21;
}

.grid2cols {
	display: grid;
	/* grid-template-columns: 50% 50%; */
	grid-template-columns: 1fr 1fr;
	gap: 10px 10px;
	align-items: center;
}

.grid10cols {
	display: grid;
	margin: 66px;
	grid-template-columns: repeat(10, 1fr);
	gap: 10px;
	align-items: center;
}

.grid4cols {
	display: grid;
	margin: 66px;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	align-items: center;
}

.grid-item-right {
	/* margin: 15px; */
	text-align: right;
	background-color: #61dafb;
}
.grid-item-center {
	padding: 15px;
	text-align: center;
	/* background-color: darkgrey; */
	min-height: 66px;
}

.containerZnP .btn-primary:disabled {
	background-color: red;
	opacity: 0.2;
}
.containerZnP td {
	height: 66px;
}
.containerZnP th {
	height: 66px;
	text-align: center;
}
